# Primary requirements:
-e git+https://github.com/sybrenstuvel/cachecontrol.git@sybren-filecache-delete-crash-fix#egg=CacheControl
lockfile==0.12.2
pillarsdk==1.7.0
wheel==0.29.0
blender-asset-tracer==1.1.dev0

# Secondary requirements:
asn1crypto==0.24.0
cffi==1.11.2
cryptography==2.1.4
idna==2.6
pyasn1==0.1.9
pycparser==2.18
pyOpenSSL==17.5.0
requests==2.10.0
six==1.11.0
